/pages/tempCodeRunnerFile.py
/pages/LinearGUI.py
/test3.py
/test2.py
/test.py
/t.py
/stochastic.gif
/mini_batch.gif
/gradient.gif
/example1.py
/data.csv
/create_data.py
/animation.gif
/pages/Logistic.py
/pages/LinearGran.py
**/**.pyc
